spring.datasource.url=jdbc:mysql://localhost:3306/appointment_setting
spring.datasource.username=root
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
# spring.mail.host=smtp.gmail.com
# spring.mail.port=587
# spring.mail.username=commercebankemailconfirmation@gmail.com
# spring.mail.password=<gmail-app-password>
# spring.mail.properties.mail.smtp.auth=true
# spring.mail.properties.mail.smtp.starttls.enable=true
# app.mail.from=commercebankemailconfirmation@gmail.com
